# uHID - Ultimate USB bootloader for all microcontrollers

SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="1d50", ATTR{idProduct}=="6032", GROUP="users", MODE="0666"
